body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}

#input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
} 
label {
  width: 150px;
  margin-right: 10px;
  color: #555;
  font-size: 18px;
  text-align: right;
}

input[type="number"] {
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fffefe;
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

#output-section {
  text-align: center;
  margin-top: 30px;
}

#matrix-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.matrix-container {
  position: relative;
  margin: 10px;
}

h2 {
  top: -30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  color: #333;
}

#matrix-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#original-matrix,
#result {
  white-space: pre;
  font-family: "Courier New", monospace;
  font-size: 14px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.fade-in {
  opacity: 1;
}
